name: Build Kivy APK

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. إعداد لغة بايثون
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. إعداد الجافا
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3. تثبيت مكتبات النظام
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libffi-dev \
            libssl-dev \
            autoconf \
            libtool \
            pkg-config

      # 4. تثبيت Buildozer و Cython (نسخة محددة لإصلاح الخطأ)
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      # 5. بدء عملية البناء
      - name: Build APK
        run: yes | buildozer android debug

      # 6. رفع ملف APK الناتج
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk

      # 6. رفع ملف APK الناتج
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
